#%RAML 1.0
title: ACME Banking API
version: 1.0
baseUri: http://www.placeholder.com/api/v1/

documentation:
  - title: ACME Banking API
    content: |
      This is the full API for instructors to use as a sample solution for the API Design and Architecture class.

mediaType: application/json

/customers:
  description: The full collection of all users with accounts at the bank
  get:
    description: Retrieve a list of all the bank's customers
    responses:
      200:
        body:
          example: |
            [
              {
                "user_id": "1234",
                "user_name": "Nora Charles",
                "description": "This is the ACME account of Nora Charles",
                "dob": "01/01/1970"
              },
              {
                "user_id": "4321",
                "user_name": "Ray Charles",
                "description": "This is the ACME account of Ray Charles",
                "dob": "01/01/1970"
              }
            ]
  post:
  /{customer_id}:
    get:
      description: Retrieve a specific customer
      responses:
        200:
          body:
            example: |
              {
                "user_id": "4321",
                "user_name": "Ray Charles",
                "description": "This is the ACME account of Ray Charles",
                "dob": "01/01/1970"
              }
    delete:
      description: Delete a specific customer
      responses:
        200:
    put:
      description: Update or create a specific customer
      responses:
        201:
    /accounts:
      get:
        description: Retrieve a list of accounts belonging to a specific customer
        responses:
          200:
            body:
              example: |
                uses:
                  key:
                [
                  {
                    "account_id" : "a2esd212343123",
                    "account_type" : "checking",
                    "customer_id" : "1234",
                    "balance": 1252.00
                  },
                  {
                    "account_id" : "a3esd212343123",
                    "account_type" : "savings",
                    "customer_id" : "4321",
                    "balance": 13000.00
                  }
                ]
      post:
        description: Add a new back account to a specific customer
        responses:
          201:
      /{account_id}:
        get:
          description: Retrieve a bank account belonging to a specific customer
          responses:
            200:
              body:
                example: |
                  {
                    "account_id" : "a3esd212343123",
                    "account_type" : "checking",
                    "customer_id" : "1234",
                    "balance": 113300.00
                  }
        put:
          description: Update a bank account belonging to a specific customer
          responses:
            201:
        delete:
          description: Close a bank account belonging to a specific customer
          responses:
            200:
        /outgoingTransfers:
          get:
            description: Retrieve a list of transfers that have been sent from a customer's bank account
            responses:
              200:
                body:
                  example: |
                    [
                      {
                        "sourceAccount_id" : "3523djfg329548",
                        "targetAccount_id" : "a2esd212343123",
                        "amount": 27.00,
                        "description": "My share of last night's dinner"
                      },
                      {
                        "sourceAccount_id" : "3523djfg123123",
                        "targetAccount_id" : "a2esd212343123",
                        "ammount": 1324.00,
                        "description": "rent June 2015"
                      }
                    ]
          post:
            description: Create a new outgoing transaction
            responses:
              201:
          /{transfer_id}:
            get:
              description: Retrieve a specific transfer that has been sent from a customer's bank account
              responses:
                200:
                  body:
                    example: |
                      {
                        "sourceAccount_id" : "a2esd212343123",
                        "targetAccount_id" : "3523djfg329548",
                        "amount": 1000.00,
                        "description": "This is the description of a particular transaction that you provided at creation."
                      }
        /incomingTransfers:
          get:
            description: Retrieve a list of transfers that have been sent to a customer's bank account
            responses:
              200:
                body:
                  example: |
                    [
                      {
                        "sourceAccount_id" : "3523djfg329548",
                        "targetAccount_id" : "a2esd212343123",
                        "amount": 27.00,
                        "description": "My share of last night's dinner"
                      },
                      {
                        "sourceAccount_id" : "3523djfg123123",
                        "targetAccount_id" : "a2esd212343123",
                        "ammount": 1324.00,
                        "description": "rent June 2015"
                      }
                    ]
          /{transfer_id}:
            get:
              description: Retrieve a specific transfer that has been sent to a customer's bank account
              responses:
                200:
                  body:
                    example: |
                      {
                        "sourceAccount_id" : "a2esd212343123",
                        "targetAccount_id" : "3523djfg329548",
                        "amount": 1000.00,
                        "description": "This is the description of a particular transaction that you provided at creation."
                      }
/transfers:
 get:
   description: Retrieve a full list of transfers
   responses:
     200:
       body:
         example: |
           [
             {
               "sourceAccount_id" : "3523djfg329548",
               "targetAccount_id" : "a2esd212343123",
               "amount": 27.00,
               "description": "My share of last night's dinner"
             },
             {
               "sourceAccount_id" : "3523djfg123123",
               "targetAccount_id" : "a2esd212343123",
               "ammount": 1324.00,
               "description": "rent June 2015"
             }
           ]
